{
    "extends": "react-typescript",
    "rules": {
        "react/display-name": 0,
        "comma-dangle": 0,
        "@typescript-eslint/ban-ts-comment": 0
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "parserOptions": {
                "project": ["./tsconfig.json"]
            }
        }
    ],
    "parser": "@typescript-eslint/parser"
}
