{
    "trailingComma": "none",
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": true,
    "printWidth": 160,
    "overrides": [
        {
            "files": [
                "*.json",
                ".prettierrc",
                ".babelrc"
            ],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}